*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-color:white ;
    font-family: 'Mali';
}
.navbar
{
    background-color: #232020 !important;
}
.text-green
{
    color: #21bf73;
}
.text-slant
{ 
    font-family: 'Caveat';
    
   
}
.green-btn
{
    color: #21bf73;
    border: 0.1rem solid #21bf73;
}

.title-underline
{
   width: 12rem;
   height: 0.3rem;
   margin: 0 auto;
   position: relative;
   border-radius: 2rem;
}
/*mains*/
.title-underline-center
{
    position: absolute;
    height: 0.6rem;
    background-color: #21bf73;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
}
.blockquote
{
    border-left: 0.5rem solid #21bf73;
}
.green-btn:hover
{
    background-color: #21bf73;
    color: #f4f4f4;
}
.phone-icon
{
    color: #21bf73;
    border: 0.1rem solid #21bf73;
    padding: 0.5rem;
    border-radius: 50%;
}

.banner-info
{
    min-height: calc(100vh - 101px);
    position: relative;  
}

.banner-info-footer
{
   background-color: #21bf73;
   position: absolute;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
}
.banner-img
{
    min-height: calc(100vh - 101px);
    background: url('../images/bannerBcg.jpeg') center/cover no-repeat  fixed;
    position: relative;  
}
.banner-img-footer
{
   background-color: #232020;
   position: absolute;
   bottom: 0;
   left: 0;
   height: 104px;
   display: flex;
   align-items: center;
}
/*img*/
.img-container
{
    position: relative;
}
.featured-icons
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.featured-icon-left
{
    background-color: #232020;
    padding: 0.5rem;
    display: inline-block;
    color: #f4f4f4;
}
.featured-icon-right
{
    background-color: #21bf73;
    padding: 0.5rem;
    display: inline-block;
    color: #f4f4f4;
}
/*featured*/
.contact
{
    background-color: #21bf73;
    color: #f4f4f4;
}
.contact-btn
{
    background: transparent;
    border: 0.1rem solid #f4f4f4;
    color: #f4f4f4;
}
.contact-btn:hover
{
    background-color: #f4f4f4;
    color: #21bf73;
}
/* srvices section */
.services, .tour
{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/bannerBcg.jpeg) center/cover fixed no-repeat;
}
.services-text-info
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #f4f4f4 !important;
    margin-bottom: 0;
    text-decoration: none;
    background-color: #21bf73;
    text-align: center;

}
.services-text-info:hover
{
   text-decoration: none;
   color: #232020 !important;
}
.service-icon
{
    font-size: 2rem;
    color: #21bf73;
    padding: 0.8rem;
    border: 0.1rem solid #21bf73;
    margin-right: 1rem;
    transition: all 1s ease-in-out;
}
.service-icon:hover
{
    background-color: #21bf73;
    color: #232020;
}
.service-link:hover
{
    color: #f4f4f4;
}
/* gallery section */
.gallery-btn:hover
{
    background: #21bf73;
    color: #f4f4f4;
}
.gallery-img-container
{
    position: relative;
    transition: all 1s linear;
    overflow: hidden;
}
.gallery-img-container:hover
{
    background: rgba(0,0,0,0.9);
}
.gallery-img
{
    transition: all 1s linear;
}
.gallery-img-container:hover .gallery-img
{
    opacity: 0.3;
    background: rgba(0,0,0,0.9);
}
.gallery-info
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,100%);
    background: #21bf73;
    color: #f4f4f4;
    text-decoration: none;
    transition: all 0.3s linear;
}
.gallery-info:hover
{

    background: #21bf73;
    color: #232020; 
    text-decoration: none;
}
.gallery-img-container:hover .gallery-info
{
    transform: translate(-50%,0);
}

.gallery-icon
{
    position: absolute;
    color: #f4f4f4;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.3s linear;
    cursor: pointer; 
}
.gallery-img-container:hover .gallery-icon
{
    opacity: 1;
}
/* virtual tour*/
.tour-icon
{
    color: #21bf73;
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: #f4f4f4;
    border-radius: 30%;
    font-size: 2rem;
    cursor: pointer;
    transition: all 1s linear;
}
.tour-icon:hover
{
    background: #21bf73;
    color: #f4f4f4;
}
/* footer */
.footer
{
    background: #232020;
}